.u-section-3-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/testimonial-bg1.jpg");
  background-position: 50% 33.19%;
}

.u-section-3-1 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3-1 .u-text-1 {
  width: 267px;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-3-1 .u-text-2 {
  width: 830px;
  font-size: 1.5rem;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3-1 .u-text-1 {
    margin-left: 277px;
    margin-right: 277px;
  }

  .u-section-3-1 .u-text-2 {
    width: 720px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3-1 .u-text-1 {
    font-size: 1.875rem;
    width: 172px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3-1 .u-text-2 {
    width: 540px;
    font-size: 1.25rem;
    margin-top: 63px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 {
    min-height: 76px;
  }

  .u-section-3-1 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3-1 .u-text-1 {
    width: 166px;
  }

  .u-section-3-1 .u-text-2 {
    width: 340px;
  }
}.u-section-3-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/testimonial-bg1.jpg");
  background-position: 50% 33.19%;
}

.u-section-3-2 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3-2 .u-text-1 {
  width: 227px;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-3-2 .u-text-2 {
  width: 828px;
  font-size: 1.5rem;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 1.875rem;
    width: 147px;
    margin-top: 70px;
  }

  .u-section-3-2 .u-text-2 {
    width: 540px;
    font-size: 1.25rem;
    margin-top: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 {
    min-height: 76px;
  }

  .u-section-3-2 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3-2 .u-text-1 {
    font-size: 1.5rem;
    width: 116px;
  }

  .u-section-3-2 .u-text-2 {
    width: 340px;
    margin-bottom: 0;
  }
}.u-section-3-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/testimonial-bg1.jpg");
  background-position: 50% 33.19%;
}

.u-section-3-3 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3-3 .u-text-1 {
  width: 362px;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-3-3 .u-text-2 {
  width: 610px;
  font-size: 1.5rem;
  margin: 56px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3-3 .u-text-2 {
    margin-top: 64px;
    margin-left: 55px;
    margin-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 1.875rem;
    width: 222px;
    margin-top: 70px;
  }

  .u-section-3-3 .u-text-2 {
    width: 540px;
    font-size: 1.25rem;
    margin-top: 63px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 {
    min-height: 76px;
  }

  .u-section-3-3 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3-3 .u-text-1 {
    font-size: 1.5rem;
    width: 181px;
  }

  .u-section-3-3 .u-text-2 {
    width: 340px;
  }
}.u-section-3-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/testimonial-bg1.jpg");
  background-position: 50% 33.19%;
}

.u-section-3-4 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3-4 .u-text-1 {
  width: 311px;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-3-4 .u-text-2 {
  width: 646px;
  font-size: 1.5rem;
  margin: 56px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3-4 .u-text-1 {
    margin-top: 44px;
  }

  .u-section-3-4 .u-text-2 {
    margin-top: 62px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3-4 .u-text-1 {
    font-size: 1.875rem;
    width: 201px;
    margin-top: 70px;
  }

  .u-section-3-4 .u-text-2 {
    width: 540px;
    font-size: 1.25rem;
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 {
    min-height: 76px;
  }

  .u-section-3-4 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3-4 .u-text-1 {
    width: 194px;
  }

  .u-section-3-4 .u-text-2 {
    width: 340px;
  }
}.u-section-3-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/testimonial-bg1.jpg");
  background-position: 50% 33.19%;
}

.u-section-3-5 .u-sheet-1 {
  min-height: 404px;
}

.u-section-3-5 .u-text-1 {
  width: 242px;
  font-size: 3rem;
  margin: 50px auto 0;
}

.u-section-3-5 .u-text-2 {
  width: 310px;
  font-size: 1.5rem;
  margin: 70px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 422px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 419px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-3-5 .u-text-1 {
    font-size: 1.875rem;
    width: 152px;
    margin: 70px 194px 50px 193px;
  }

  .u-section-3-5 .u-text-2 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 {
    min-height: 76px;
  }

  .u-section-3-5 .u-sheet-1 {
    min-height: 349px;
  }

  .u-section-3-5 .u-text-1 {
    width: 146px;
    margin-top: 58px;
    margin-left: 94px;
    margin-right: 95px;
  }

  .u-section-3-5 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 60px;
    margin-left: 15px;
    margin-right: 15px;
  }
}.u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("images/banner.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 186px auto 0;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  width: 888px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 45px 85px 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 88px auto 60px;
  padding: 10px 58px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-3 {
    margin-top: 60px;
    margin-left: 42px;
    margin-right: 42px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 479px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 32px;
    margin-right: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 197px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 13px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 714px;
}

.u-section-2 .u-image-1 {
  width: 436px;
  height: 463px;
  object-position: 50% 100%;
  margin: 117px auto 0 102px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: -427px 310px 0 598px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 23px 45px 60px 598px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 680px;
  }

  .u-section-2 .u-image-1 {
    width: 416px;
    height: 442px;
    margin-top: 131px;
    margin-left: 16px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -442px;
    margin-right: 234px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 64px;
    margin-right: 0;
    margin-left: 454px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 965px;
  }

  .u-section-2 .u-image-1 {
    width: 399px;
    margin-top: 60px;
    margin-left: auto;
  }

  .u-section-2 .u-text-1 {
    margin-top: -513px;
    margin-right: 216px;
    margin-left: 261px;
  }

  .u-section-2 .u-text-2 {
    width: 371px;
    margin: 487px auto -11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-2 .u-image-1 {
    height: 443px;
  }

  .u-section-2 .u-text-1 {
    margin-top: -514px;
    margin-right: 34px;
    margin-left: 171px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-2 .u-image-1 {
    height: 377px;
    margin-top: 226px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: 184px;
    margin-top: -488px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin: 528px 0 60px;
  }
}.u-block-b735-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-b735-3 {
  position: absolute;
  left: 0;
}

.u-block-b735-4 {
  position: absolute;
  right: 0;
}.u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/36169541-0.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1122px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 570px;
  margin: 53px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 63px auto 0 53px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  margin: -41px 135px 0 541px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  margin: 123px auto 0 53px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  margin: -53px 135px 0 541px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  margin: 53px 135px 0 541px;
}

.u-section-4 .u-text-7 {
  font-size: 3rem;
  margin: 102px auto 0 43px;
}

.u-section-4 .u-text-8 {
  font-size: 1.5rem;
  margin: -53px 135px 60px 541px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 44px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 237px;
    margin-left: 441px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 44px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -108px;
    margin-right: 35px;
    margin-left: 441px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-right: 35px;
    margin-left: 441px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 54px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 35px;
    margin-left: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1087px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 28px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 28px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 62px;
    margin-left: 34px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-4 .u-text-6 {
    margin-right: auto;
    margin-left: 34px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-left: 28px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 20px;
    margin-right: 254px;
    margin-left: 28px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1176px;
  }

  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 21px;
  }

  .u-section-4 .u-text-3 {
    margin-right: auto;
    margin-left: 26px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 26px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 26px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 26px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 21px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 81px;
    margin-left: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1001px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 60px;
    margin-right: 113px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: 55px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: 32px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.875rem;
    margin-top: 32px;
    margin-left: 13px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.25rem;
    margin-right: 0;
    margin-bottom: 59px;
    margin-left: 13px;
  }
}.u-section-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/36169541-01.jpeg");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 998px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  width: 566px;
  margin: 50px auto 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 99px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  margin: -33px 0 0 607px;
}

.u-section-5 .u-text-4 {
  font-size: 1.875rem;
  margin: 126px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.5rem;
  margin: -33px 0 0 607px;
}

.u-section-5 .u-text-6 {
  font-size: 1.5rem;
  margin: 113px 0 0 607px;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  margin: -45px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 1.5rem;
  margin: 150px 0 0 607px;
}

.u-section-5 .u-text-9 {
  font-size: 1.875rem;
  margin: -144px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1031px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 94px;
    margin-left: 407px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 407px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-right: 94px;
    margin-left: 407px;
  }

  .u-section-5 .u-text-8 {
    margin-left: 407px;
  }

  .u-section-5 .u-text-9 {
    margin-bottom: 128px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1159px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 384px;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-left: 384px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 67px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: -115px;
  }

  .u-section-5 .u-text-8 {
    width: auto;
    margin-top: 159px;
    margin-left: 384px;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-top: -230px;
    margin-right: 410px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1302px;
  }

  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 270px;
  }

  .u-section-5 .u-text-5 {
    margin-left: 270px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 101px;
    margin-right: 0;
    margin-left: 270px;
  }

  .u-section-5 .u-text-8 {
    margin-top: 183px;
    margin-left: 270px;
  }

  .u-section-5 .u-text-9 {
    margin-top: -259px;
    margin-right: 311px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1006px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: 95px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 46px;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.25rem;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    font-size: 1.25rem;
    margin-top: 79px;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-top: -105px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.25rem;
    margin-top: 171px;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    font-size: 1.5rem;
    margin-top: -197px;
    margin-right: 32px;
  }
}.u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/53e1dc434c56af14f6da8c7dda793678153bdee757596c48732f7cd5974cc65bbc_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 909px;
}

.u-section-6 .u-text-1 {
  font-size: 3rem;
  text-transform: none;
  font-weight: 700;
  width: 298px;
  margin: 36px auto 0;
}

.u-section-6 .u-text-2 {
  width: 311px;
  font-size: 1.25rem;
  margin: 0 auto;
}

.u-section-6 .u-form-1 {
  height: 690px;
  margin: 46px 218px 60px 179px;
}

.u-section-6 .u-form-group-2 {
  margin-left: 0;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-form-group-5 {
  margin-left: 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 947px;
  }

  .u-section-6 .u-text-1 {
    width: 292px;
  }

  .u-section-6 .u-text-2 {
    width: 314px;
  }

  .u-section-6 .u-form-1 {
    width: 680px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 725px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
    width: 185px;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }
}